<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="css/edit.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
</head>
<body>
    <div id="content">
        <form method="post" action="/loginAdmin">
            <div id="content_head">
                <h5>Admin Login</h5>
            </div>
            <div class="content_box">
                <div class="content_logo_box">
                    <i class="fa-light fa-user fa-2xl" id="login_name_icon"></i>
                </div>
                <input type="text" class="form-control" name="username" placeholder="User name">
            </div>
            <div class="content_box">
                <div class="content_logo_box">
                    <i class="fa-light fa-hashtag fa-2xl" id="login_name_icon"></i>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div id="content_button_box">
                <button id="update_button" type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
		<section>
		    <canvas id="canvas-tophat">
			</canvas>
		</section>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"></script>\
	<script>
        function drawTextAlongArc(context, str, centerX, centerY, radius, angle) {
            var len = str.length, s;
            context.save();
            context.translate(centerX, centerY);
            context.rotate(-1 * angle / 2);
            context.rotate(-1 * (angle / len) / 2);
            for (var n = 0; n < len; n++) {
                context.rotate(angle / len);
                context.save();
                context.translate(0, -1 * radius);
                s = str[n];
                context.fillText(s, 0, 0);
                context.restore();
            }
            context.restore();
        }
        var canvas = document.getElementById('canvas-tophat'),
            context = canvas.getContext('3d'),
            centerX = canvas.width / 2,
            centerY = canvas.height - 30,
            angle = Math.PI * 0.8,
            radius = 70;

        context.font = '25pt Calibri';
        context.textAlign = 'center';
        context.fillStyle = 'black';
        context.strokeStyle = 'blue';
        context.lineWidth = 4;
        drawTextAlongArc(context, 'AliZappa', centerX, centerY, radius, angle)
		
    </script>
</body>
</html>