extends ../layouts/layout_noheader
block layout-content
  h1 Delete
  h3 Are you sure you want to delete this?
  div
    h4 Product
    hr
    .1row
      .col-md-4
        label(for='fname') ProductName
        input#ProductName(type='text' name='fname' value=products_test[0].ProductName)
        br
        br
        label(for='lname') ProductID
        input#ProductID(type='text' name='lname' value=products_test[0].ProductID)
        br
        br
        label(for='lname') SupplierID
        input#SupplierID(type='text' name='lname' value=products_test[0].SupplierID)
        br
        br
        input#btn.Create.btn.btn-primary(type='button' value='Delete')

  script.
    $('#btn').click(function () {
    var elmId = $(this).attr("id");
    send($('#ProductID').val());
    });
    function send() {
    $.post("/products/delete", { id: $('#ProductID').val()}, function (data) {
    $("#maindiv").html(data);
    });
    }

